---
import Head from '../components/head.astro'
import ThemedImage from '../components/ThemedImage.astro'

import LogoLight from '../assets/logo.light.png'
import LogoDark from '../assets/logo.dark.png'
---

<html lang="en">
	<Head
		title="Revolutionary Games"
		description="Revolutionary Games is a worker-owned collective revolutionizing tabletop game design with games and settings that deal with the challenges of revolutionary social change." />
	<body>
		<main>
			<ThemedImage
				light={LogoLight}
				dark={LogoDark}
				alt=""
				height={2000}
				width={2000}
				pictureClasses={['logo']}
			/>
		</main>
	</body>
</html>
