---
import Head from '../components/head.astro'
---

<html lang="en">
	<Head
		title="Revolutionary Games"
		description="Revolutionary Games is a worker-owned collective revolutionizing tabletop game design with games and settings that deal with the challenges of revolutionary social change." />
	<body>
		<p>Hello world</p>
	</body>
</html>
