---
import { Image } from 'astro:assets'
import LogoLight from '../assets/logo.light.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.light.ico" media="(prefers-color-scheme: light)" />
		<link rel="icon" type="image/svg+xml" href="/favicon.dark.ico" media="(prefers-color-scheme: dark)" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={LogoLight} alt="Revolutionary Games" />
	</body>
</html>
