---
import '../styles/index.scss';
const { title, description, image } = Astro.props
import Head from '../components/Head.astro'
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
